<p>Name</p>
<p><%= @hosp.name %></p>
<br/>
<p>Address</p>
<p><%= @hosp.address %></p>
<br/>
<p>City</p>
<p><%= @hosp.city %></p>
<br/>
<p>state</p>
<p><%= @hosp.state %></p>
<br/>
<p>image</p>
<p><%= @hosp.image %></p>
<br/>



